*{
  clear: both;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
:root{
 --background: #222;
    --navBackground: #262626;
  --red: #fd1056;
  --green: #16f0d1;
}
body{
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--background);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;
  padding: 0;
}
a{ 
  text-decoration: none;
}
.tags{
  margin-top: 60px;
  color: #515152;
  position: fixed;
  bottom: 0px;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
  z-index: -1;
}
.top-tags {
  top: 10%;
}   
.bottom-tags{
  bottom: 10%;
}
/* nav bar  */

.navBar .logo{
  position: relative;
  height: 60px;
  width: 60px;
  background: #070707;
}
.navBar .logo img{
  display: block;
  height: 40px;
  width: 40px;
  margin: 10px;
}
.navBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  padding-bottom: 20px;
  background: var(--navBackground);
  z-index:3;
}
.navBar ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navBar ul li{
  list-style: none;
  margin: 10px 0 ;
  width: 100%;
  text-align: center;
}
.navBar i{
  color: #A5A5A4;
}
.navBar li span{
  display: block;
  height: 100%;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.navLinks li span i{
font-size: 1.5em;
}
.navLinks li{
  position: relative;
  cursor: pointer;
}
.navLinks li:nth-child(1) span::before{
  content: 'HOME';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  color: var(--green);
  opacity: 0;
  transition: .5s;
  z-index:3;
}
.navLinks li:nth-child(1):hover span::before{
  opacity: 1;
}
.navLinks li:nth-child(2) span::before{
  content: 'ABOUT';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  color: var(--green);
  opacity: 0;
  transition: .5s;
  z-index:3;
}
.navLinks li:nth-child(2):hover span::before{
  opacity: 1;
}
.navLinks li:nth-child(3) span::before{
  content: 'SKILLS';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  color: var(--green);
  opacity: 0;
  transition: .5s;
  z-index:3;
}
.navLinks li:nth-child(3):hover span::before{
  opacity: 1;
}
.navLinks li:nth-child(4) span::before{
  content: 'My Work';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  color: var(--green);
  opacity: 0;
  transition: .5s;
  z-index:3;
}
.navLinks li:nth-child(4):hover span::before{
  opacity: 1;
}
.navLinks li:nth-child(5) span::before{
  content: 'CONTACT';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  color: var(--green);
  opacity: 0;
  transition: .5s;
  z-index:3;
}
.navLinks li:nth-child(5):hover span::before{
  opacity: 1;
}
.navLinks li:nth-child(1):hover span,.navLinks li:nth-child(1):hover span i {
  color: #535353;
}
.navLinks li:nth-child(2):hover span,.navLinks li:nth-child(2):hover span i {
  color: #535353;
}
.navLinks li:nth-child(3):hover span,.navLinks li:nth-child(3):hover span i {
  color: #535353;
}
.navLinks li:nth-child(4):hover span,.navLinks li:nth-child(4):hover span i {
  color: #535353;
}
.navLinks li:nth-child(5):hover span,.navLinks li:nth-child(5):hover span i {
  color: #535353;
}
.social li a{
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.social li a i{
font-size: .9em;
transition: .3s;
}
.social li:hover a i{
color: var(--green);
}
.menu-icon{
  display: none;
  padding: 28px 20px;
  position: relative; 
  float: right;
  cursor: pointer;
}
.menu-icon .nav-icon{
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition:background .2s ease-out;
}
.menu-icon .nav-icon::before{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  transition: all .2s ease-out;
}
.menu-icon .nav-icon::after{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all .2s ease-out;
}
.menu-btn{
  display: none;
}
.menu-btn:checked ~.menu{
  max-height: 240px;
}
.menu-btn:checked ~.menu-icon .nav-icon{
  background: transparent;
}
.menu-btn:checked ~.menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}
.menu-btn:checked ~.menu-icon .nav-icon::after{
  transform: rotate(45deg);
 top: 0;
}
/* main design */
/* header design */
.container{
  float: right;
  width: calc(100% - 60px);
  height: 100vh;
  /* background: white; */
  position: relative;
}
.title{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%,-50%);
  font-size: 2em;
  color: #fff;
  width: fit-content;
}
.titleImg{
  height: 70px;
  width: 70px;
}
.title h6{
  font-size: .5em; 
  color: rgb(78, 77, 77);
  text-align: right;
}
/* about */
.textField{
  position: absolute;
  letter-spacing: 2px;
  word-spacing: 5px;
  top: 50%;
  left: 10%;
  transform: translate(-10%,-50%);
  width: 40%;
}
.textField h1{
  font-size: 2.5em;
  color: var(--green);
  font-weight: 800;
}
.textField p{
  font-size: 1em;
  color: #fff;
  font-weight: 600;
}
/* contact */
#contact .textField{
   font-size: .7em;
}
.formContact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 10px;
}
.formContact input:nth-child(3),.formContact textarea{
  grid-column: 1/3;
}
.formContact input[type=text],.formContact input[type=email],.formContact textarea{
  background: #262626;
  border: none;
  padding: 10px 15px;
  color: white;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}
/* ----------------------------- */

@media screen and (max-width:800px){
  /* nav bar mediaquery */
  .navBar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding:0 20px;
  }
  .menu-icon{
    display: unset;
    position: absolute;
    right: 0;
  }
  .navBar ul{
    flex-direction: row;
    display: none;
    max-height: 0;
  }
  .menu-btn:checked ~ .navLinks,.menu-btn:checked ~ .social{
    display: flex;
    max-height: unset;
    background: var(--navBackground);
    width: 100vw;
  }
  /* header mediaquery */
  body{
    margin-top: 60px;
  }
  .container{
    float: unset;
    width: 100vw;
    height: calc(100vh - 60px);
  }
  .title{
 font-size: 4vw;
  }
  .titleImg{
    height: 40px;
    width: 40px;
  }
  .title h6{
    font-size: .5em; 
    color: rgb(78, 77, 77);
    text-align: right;
  }
  .textField{
    font-size: .9em;
    width: 60%;
  }
}